extends layout

block content
  h1 #{title}
  form(method='POST', action='/new')
    .form-group
      label(for='user') Name:
      input#user.form-control(type='text', name='user', required='required')
    .form-group
      label(for='text') Message:
      textarea#text.form-control(name='text', required='required')
    button.btn.btn-primary(type='submit') Post Message
